<footer>
	<script src="javascript/nrCuvinte.js"></script>
	<script src="javascript/logger.js"></script>
	<p> Galeria este situata pe strada Marie-Antoinette, no. 13, Paris. </p>
	<p> Contact: </p>
		<a href=mailto:darius.boroseanu@s.unibuc.ro> darius.boroseanu@s.unibuc.ro </a> 	
	<p> <small> Catre inceputul documentului </small> <a href="#"> La Fontaine </a> </p>
	<div id = "nrCuvinte"></div>
	<div id = "timeOnPage"></div>
	<div>
		<a href="https://www.instagram.com/darius23b/">
		<img src = "../poze/instagram.png" alt = "IG" title = "Instagram" > </a>
		<a href="https://www.facebook.com/donpadryno">
		<img src = "../poze/facebook_st.png" alt = "FB" title = "Facebook" > </a>
		<a href="https://www.linkedin.com/in/darius-boro%C8%99eanu-0a57a91b4/">
		<img src = "../poze/linkedin.png" alt = "IN" title = "LinkedIn" > </a>
	</div>
	<div class = "inactivity" id = "inactivity">Ai fost inactiv timp de <span id ="nrSecInactiv"></span> secunde.</div>
</footer>